<FilesMatch "\.md5$">
    Deny from all
</FilesMatch>

DirectoryIndex index.php
Options -Indexes
# Comment the following line, if option Multiviews not allowed here
# Options -MultiViews

php_value error_reporting 1

AddDefaultCharset utf-8



RewriteEngine On
RewriteCond %{HTTPS} =off
RewriteCond %{REQUEST_URI} !^/bitrix/admin/1c_exchange.php
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

    
<ifModule mod_rewrite.c>
    RewriteEngine On
    # Uncomment the following line, if you are having trouble
    RewriteBase /
  # RewriteBase /wa-installer/

    RewriteCond %{REQUEST_URI} !\.(js|css|jpg|jpeg|gif|png)$ [or]
    RewriteCond %{REQUEST_URI} apple-touch-icon\.png$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</ifModule>

<ifModule mod_headers.c>
php_value mbstring.func_overload 0
    <FilesMatch "\.(jpg|jpeg|png|gif|js|css)$">
	Header set Cache-Control "max-age=3153600, public"
    </FilesMatch>
</ifModule>

Redirect 301 /category/apparat-ultrazvukovoy-nizkochastotnyy-ginekologicheskiy-ginyeton---mm-rossiya/ /product/apparat-ultrazvukovoynizkochastotnyyginekologicheskiy-ginyeton-mm/
Redirect 301 /category/proktologicheskiy-nabor-welch-allyn-ssha/ /product/proktologicheskiy-nabor-welch-allyn-ssha/
Redirect 301 /category/osvetitelnaya-golovka-dlya-anoskopov-proktoskopov-heine-r// /category/osvetitelnaya-golovka-dlya-anoskopov-proktoskopov-heine/
Redirect 301 /category/odnorazovye-tuby-heine-unispec-r// /category/odnorazovye-tuby-heine-unispec/
Redirect 301 /category/instrumentalnaya-golovka-dlya-tub-heine-unispec-germaniya-r// /category/instrumentalnaya-golovka-dlya-tub-heine-unispec-germaniya/
Redirect 301 http://almamed.su/robots.txt https://almamed.su/robots.txt

#По просьбе Гугла от 14.11
Redirect 301 /category/probirki-dlya-issledovaniya-plazmy-krovi-improvacuter/ /404
Redirect 301 /product/probirka-gellithium-heparin-tube-4-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-743040110-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-4-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-753040112-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-5-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-753050110-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-4-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-753040110-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-5-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-753050110-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-4-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-753040110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-9-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-664090212-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-8-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-664080212-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-6-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-663060112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-5-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-663050112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-4-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-663040112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-3-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-663030112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-2-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-663020112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-4-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-662040112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-3-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-662030112-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-95-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-664950210-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-9-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-664090210-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-8-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-664080210-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-6-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-663060110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-5-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-663050110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-4-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-663040110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-3-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-663030110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-2-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-663020110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-4-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-662040110-kitay/ /404
Redirect 301 /product/probirka-sodium-heparin-tube-3-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-662030110-kitay/ /404
Redirect 301 /product/probirka-gellithium-heparin-tube-5-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-743050112-kitay/ /404
Redirect 301 /product/probirka-gellithium-heparin-tube-4-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-743040112-kitay/ /404
Redirect 301 /product/probirka-gellithium-heparin-tube-5-ml-steklyannaya-dlya-issledovaniya-plazmy-krovi-art-743050110-kitay/ /404
Redirect 301 /product/probirka-gelsodium-heparin-tube-5-ml-plastikovaya-dlya-issledovaniya-plazmy-krovi-art-753050112-kitay/ /404


#включение логов
#php_flag display_errors Off
#php_value error_reporting 2147483647
#php_flag log_errors On
#php_value error_log ./wa-log/php.log